<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzh.mapper.BlogAndTagMapper">

    <insert id="insertBlogAndTags">
        insert into t_blog_tags(blog_id,tag_id)
        values
        <foreach collection="tagsIdList" item="tagId" index="index" separator=",">
            (#{blogId},#{tagId})
        </foreach>
    </insert>

    <resultMap id="myMap" type="tag">
        <result column="tag_id"  property="id"></result>
    </resultMap>
    <select id="getListBlogAndTag" resultMap="myMap">
        select tag_id from t_blog_tags where blog_id=#{0}
    </select>



</mapper>
